.container
{
    width: 95.5vw;
    height: 95vh;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;

    gap: 20px;
    padding:20px;

    background-color: #ace3eb;
    justify-items: center;
}
.shape
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}
.imgshape
{
    margin: 10px;
}
